:root {
  --dark-color: hsl(0, 0%, 100%);
  --dark-bg-color: hsl(0, 0%, 21%);

  --light-color: hsl(330, 10%, 4%);
  --light-bg-color: #f5f3f4;
}

@font-face {
  font-family: "ZhiMangXing";
  src: url("./font/ZhiMangXing-Regular.ttf");
}

@font-face {
  font-family: "MaShanZhen";
  src: url("./font/MaShanZheng-Regular.ttf");
}

@font-face {
  font-family: "Zcoo";
  src: url("./font/ZCOOLKuaiLe-Regular.ttf");
}

@font-face {
  font-family: "Xingkai";
  src: url("./font/QingNiaoHuaGuangXingKai-2.ttf");
}

@font-face {
  font-family: "Kangxi";
  src: url("./font/TypeLand-com-KangXiZiDianTi-ShiYongBan-1.otf");
}

@font-face {
  font-family: "Hongyun";
  src: url("./font/No.186-ShangShouHongYunTi-2.ttf");
}

@font-face {
  font-family: "YaHei";
  src: url("./font/msyh.otf");
}

@font-face {
  font-family: "SanjiXingKai";
  src: url("./font/三极行楷简体-粗.ttf");
}

@font-face {
  font-family: "Maoken";
  src: url("./font/猫啃.ttf");
}

@font-face {
  font-family: "GuYin";
  src: url("./font/SuXinShiGuYinSongJian-1.ttf");
}
:root {
  --bg: hsl(0, 0%, 100%);
  --text-color: hsl(218, 25%, 28%);

  --btn-color: hsl(208, 85%, 52%);
  --btn-text-color: hsl(42, 50%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: hsl(0, 0%, 93%);
    --bg: rgb(61, 62, 65);

    --border-color1: hsl(0, 0%, 12%);
    --border-color2: hsl(0, 0%, 25%);
  }
}
